* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

:root {
  --y:#ffbb09;
  --w:#fafafa;
  --b:#452600;
}

@media only screen and (min-width: 1200px) {
  #root {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    width: 20vw;
    height: 100vh;
  }
  header {
    width: 20vw;
    height: 15vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--y);
    color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3vh;
  }
  header > div > div:nth-child(1) {
    width: 16vw;
    height: 3vh;
    background-color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0.3vw;
  }
  header > div > div:nth-child(1) > p {
    color: var(--y);
    font-size: smaller;
    font-weight: 300;
  }
  header > div > div:nth-child(1) > div:nth-child(2) {
    position: relative;
    left: 2vw;
  }
  header > div > div:nth-child(2) {
    width: 18vw;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1vh;
  }
  header > div > div:nth-child(2) > div > p {
    font-size: x-small;
  }
  header > div > div:nth-child(2) {
    width: 15vw;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header > div > div:nth-child(2) > div:nth-child(1) {
    width: 5vw;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 3vh;
  }
  header > div > div:nth-child(2) > div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 5vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2vh;
  }
  main {
    width: 20vw;
    height: 70vh;
    background-color: var(--w);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--b);
  }
  main > div:nth-child(1) {
    width: 15vw;
    margin-bottom: 5vh;
  }
  main > div:nth-child(3) {
    width: 15vw;
    margin-top: 2vh;
  }
  footer {
    width: inherit;
    height: 8vh;
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 0.5px solid var(--b);
  }
  footer > div {
    width: 18vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .button {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    background-color: var(--y);
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  #root {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header {
    width: 70vw;
    height: 15vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--y);
    color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3vh;
  }
  header > div > div:nth-child(1) {
    width: 50vw;
    height: 3vh;
    background-color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 1vw;
  }
  header > div > div:nth-child(1) > p {
    color: var(--y);
    font-size: smaller;
    font-weight: 300;
  }
  header > div > div:nth-child(1) > div:nth-child(2) {
    position: relative;
    left: 2vw;
  }
  header > div > div:nth-child(2) {
    width: 80vw;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1vh;
  }
  header > div > div:nth-child(2) > div > p {
    font-size: x-small;
  }
  header > div > div:nth-child(2) {
    width: 50vw;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header > div > div:nth-child(2) > div:nth-child(1) {
    width: 40vw;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 3vh;
  }
  header > div > div:nth-child(2) > div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2vh;
  }
  main {
    width: 70vw;
    height: 70vh;
    background-color: var(--w);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--b);
  }
  main > div:nth-child(1) {
    width: 30vw;
    margin-bottom: 5vh;
  }
  main > div:nth-child(3) {
    width: 30vw;
    margin-top: 2vh;
  }
  footer {
    width: 70vw;
    height: 8vh;
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 0.5px solid var(--b);
  }
  footer > div {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .button {
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    background-color: var(--y);
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  #root {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    width: 100vw;
    height: 100vh;
  }
  header {
    width: 100vw;
    height: 15vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--y);
    color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3vh;
  }
  header > div > div:nth-child(1) {
    width: 80vw;
    height: 3vh;
    background-color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 1vw;
  }
  header > div > div:nth-child(1) > p {
    color: var(--y);
    font-size: smaller;
    font-weight: 300;
  }
  header > div > div:nth-child(1) > div:nth-child(2) {
    position: relative;
    left: 2vw;
  }
  header > div > div:nth-child(2) {
    width: 100vw;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1vh;
  }
  header > div > div:nth-child(2) > div > p {
    font-size: x-small;
  }
  header > div > div:nth-child(2) {
    width: 60vw;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header > div > div:nth-child(2) > div:nth-child(1) {
    width: 80vw;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 3vh;
  }
  header > div > div:nth-child(2) > div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2vh;
  }
  main {
    width: 100vw;
    height: 70vh;
    background-color: var(--w);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--b);
  }
  main > div:nth-child(1) {
    width: 60vw;
    margin-bottom: 5vh;
  }
  main > div:nth-child(3) {
    width: 60vw;
    margin-top: 2vh;
  }
  footer {
    width: 100vw;
    height: 8vh;
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 0.5px solid var(--b);
  }
  footer > div {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .button {
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    background-color: var(--y);
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
/*# sourceMappingURL=sub1_style copy.css.map */