* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

:root {
  --y:#ffbb09;
  --w:#fafafa;
  --b:#452600;
}

@media only screen and (min-width: 1200px) {
  #root {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    width: 20vw;
    height: 100vh;
  }
  header {
    width: 20vw;
    height: 15vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--y);
    color: #fafafa;
  }
  header > div {
    width: 20vw;
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header > div > div {
    width: 15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header > div > div > div:nth-child(2) {
    margin-left: 3vw;
    text-align: center;
  }
  header > div > div > div:nth-child(2) > p {
    font-weight: lighter;
    font-size: 0.5rem;
  }
  main {
    width: 100vw;
    height: 70vh;
    background-color: var(--w);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--b);
  }
  main > div {
    width: 15vw;
    margin-bottom: 2vh;
  }
  main > div > h4 {
    color: var(--y);
  }
  main > div > div:nth-child(2) {
    width: 15vw;
    height: 10vh;
    border-radius: 0.5vw;
    -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--w);
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.5rem;
  }
  footer {
    width: inherit;
    height: 8vh;
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 0.5px solid var(--b);
  }
  footer > div {
    width: 18vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .button {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    background-color: var(--y);
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  #root {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--w);
  }
  header {
    width: 60vw;
    height: 15vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--y);
    color: #fafafa;
  }
  header > div {
    width: 45vw;
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header > div > div {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header > div > div > div:nth-child(2) {
    margin-left: 10vw;
    text-align: center;
  }
  header > div > div > div:nth-child(2) > p {
    font-weight: lighter;
    font-size: 0.8rem;
  }
  main {
    width: 60vw;
    height: 70vh;
    background-color: var(--w);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--b);
  }
  main > div {
    width: 50vw;
    margin-bottom: 2vh;
  }
  main > div > h4 {
    color: var(--y);
  }
  main > div > div:nth-child(2) {
    width: 50vw;
    height: 10vh;
    border-radius: 2vw;
    -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--w);
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.8rem;
  }
  footer {
    width: 50vw;
    height: 8vh;
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 0.5px solid var(--b);
  }
  footer > div {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  #root {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    width: 100vw;
    height: 100vh;
  }
  header {
    width: 100vw;
    height: 15vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--y);
    color: #fafafa;
  }
  header > div {
    width: 100vw;
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header > div > div {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header > div > div > div:nth-child(2) {
    margin-left: 10vw;
    text-align: center;
  }
  header > div > div > div:nth-child(2) > p {
    font-weight: lighter;
    font-size: 0.8rem;
  }
  main {
    width: 100vw;
    height: 70vh;
    background-color: var(--w);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--b);
  }
  main > div {
    width: 80vw;
    margin-bottom: 2vh;
  }
  main > div > h4 {
    color: var(--y);
  }
  main > div > div:nth-child(2) {
    width: 80vw;
    height: 10vh;
    border-radius: 2vw;
    -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--w);
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.8rem;
  }
  footer {
    width: 100vw;
    height: 8vh;
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 0.5px solid var(--b);
  }
  footer > div {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=sub2_style.css.map */